<!DOCTYPE html>
<html>
<body>
      Welcome to your dashboard
      <br>
      <br>
      <br>
      your money: {{money}}
      <br>
      <br>
      <br>
      your latest transactions:
      <br>
      <br>
      {{transactions}}


  </form>
</body>
</html>
